@import url(http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica);

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*### apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box; 
}
/*### force to show the vertical scrollbar even when the page is too short*/
html {
    overflow-y: scroll;
}

/*### define header sizes */
h1 {	font-size:2.6em;}
h2 {	font-size:2.2em;}
h3 {	font-size:1.6em;}
h4 {	font-size:1.4em;}
h5 {	font-size:1.2em;}
h6 {	font-size:1.1em;}
h1,h2,h3,h4,h5,h6 {
margin:0 auto 0.3em auto;
font-family:"IM Fell DW Pica", serif;
}

pre {
	font-family:monospace;
	padding:0.4em;
	margin:0.2em 0 0.6em 0;
	background:#ddd;
	box-shadow: 0 0.1em 0.2em #777;
	white-space: pre-line;
	width:80%;
}
em {
	font-style:italic;
}
strong {
	font-weight:bold;
}
ol, ul {list-style:outside;}
ol {list-style:decimal;}
ul {list-style:circle;}
li {margin-left:1em;}

/* miscelanous */ 
p, ul, ol { 
	margin:0.2em 0 0.8em 0;
}





a {
	color:#444499;
}
a:hover {
text-decoration:none;
color:#322;
}

body {
	color:#322;
	font-family: serif;
	background:#fff;
	/*background: url('patterrific_patt_8brownstripes03.jpg') repeat; */
	/*background-size: cover;*/
}

#page {
	background-color:#fafafa;
	max-width:800px;
	margin:auto;
	padding:1em;
	box-shadow: 0 0 2em 0 #555;
}

header {
	text-align:center;
	float:left;
	margin-right:1em;
}
header h2 {

	font-size:0.8em;
	color:grey;
}

nav#main {
position:relative;
cursor:default;
font-size:1.2em;
font-family:"IM Fell DW Pica", serif;
padding-top: 0.2em;
}
nav#main a {
color:#000;
text-decoration:none;
}
nav#main a:hover {
color:#fff;
}

nav#main ul {
	/*float:left;*/
	margin:0 1em 0 0;
	box-shadow: 0 4px 6px -3px gray;
	background:#ebebeb;
}
/*nav#main ul,
nav#main ul li:first-child{
	border-bottom-left-radius: 0.4em;
}
nav#main ul,
nav#main ul li:last-child{
	border-top-right-radius: 0.4em;
}*/
nav#main ul ul {
	position:absolute;
	top:1.6em;
}

nav#main ul li li {
float:none;
}

nav#main li {
	float:left;
	list-style:none;
	margin:0;
	padding:0.4em;
}

nav#main li:hover {
	background:#444499;
	color:#fff;
	box-shadow: 0 0 0.1em 0 #aaa inset;
}

nav#main li ul{
	display:none;
	margin:0.4em 0 0 -0.4em;
}

article {
	clear:both;
	/*padding:1em;*/
}

footer {
	font-size: 0.8em;
	background-color:#fff;
	height:1.8em;
padding:0.4em 0.5em;
margin:0 -1.25em -1.25em -1.25em;
}
footer div#mail {
	float:right;
}

footer div#theme {
	float:left;
}


#enter {
	font-size:5em;
	font-family: "IM Fell DW Pica", serif;
	text-align:center;
}
#enter a {
color:#332222;
text-decoration:none;
}
#enter a:hover {
	color:#444499;
}



